.bookItem {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bbb;
    background-color: #eee;

    border-radius: 10px;

    transition: color .17s ease-in-out, background-color .17s ease-in-out, border-color .17s ease-in-out, box-shadow .17s ease-in-out;
}
  
.bookItem span {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.bookItem.selected {
    background-color: #aaa;
}